<h1>Edit Note Collection</h1>

<%=form_for(@notecollection) do |f|%>
<div class="field">
	<p>Name<p>
		<%=f.text_field:title%>
	</div>
	<div class="field">
		<p>User/Author</p>
		<%=f.collection_select:user_id, User.all, :id, :name%>
	</div>
	
	<div class="actions">
		<%=f.submit%>
	</div>
<%end%>
