<h1>Notes#index</h1>
<p>Find me in app/views/notes/index.html.erb</p>


<table> 
  <tr> 
   <td>Name</td> 
   <td>Note-body</td> 
   <td>Author</td> 
  </tr> 
  <% @notes.each do |note| %> 
  <tr> 
   <td><%= note.name %></td> 
   <td><%= note.email %></td> 
   <td><%= note.password %></td> 
  </tr> 
  <% end %> 
</table> 