<h1><strong>Index of Notes</strong></h1>


<table> 
  <tr> 
   <td>Name</td> 
   <td>Note-body</td> 
   <td>Author</td> 
  </tr> 
  <% @notes.each do |note| %> 
  <tr> 
   <td><%= note.name %></td> 
   <td><%= note.body %></td> 
   <td><%= note.author %></td> 
  </tr> 
  <% end %> 
</table> 