<div id="quicklinks">
<h3 style="font-family:Calibri; font-size:25px;">Quick Links</h3>
<p><%= link_to "View your created notebooks", notecollections_path%></p>
<p><%= link_to "Create a notebook", new_notecollection_path%></p>
<p><%= link_to "View your created notes", notes_path%></p>
<p><%= link_to "Create a note", new_note_path%></p>
<div class="clear"></div>
</div>
<hr>
<div id="sub_main"></div>